.heading{
  display : block;
  text-align : left;
}

.heading img {
  width : 100%;
}

#grid {
  display : grid;
  grid-template-columns : 170px 1fr;
}

.nav{
  float : left;
  display : inline-flex;
  flex-direction : column;
  text-align : left;
  height : 360px;
  padding-left : 10px;
}

.nav-item{
  display : flex;
  width : 140px;
  height : 20px;
  padding : 10px 0 10px 0;
}

.nav a{
  text-decoration : none;
  color : black;
}

.nav a:hover{
  color : black;
}

.KT{
  font-size: 20px;
  margin-bottom : 5px;
  color : red;
}

.ET{
  font-size: 15px;
  padding-left : 5px;
}

.content{
  padding-left : 20px
  color : red;
}

p{
  font-size : 15px;
}
