.heading{
  display : block;
  text-align : right;
}

.heading img {
  width : 400px;
}

.nav{
  display : inline-block;
  text-align : left;
  padding-left : 10px;
}

.nav-item{
  display : flex;
  width : 120px;
  height : 20px;
  padding : 10px 0 10px 0;
}

.nav a{
  text-decoration : none;
  color : black;
}

.nav a:hover{
  color : black;
}

.KT{
  font-size: 15px;
  margin-bottom : 5px;
}

.ET{
  font-size: 10px;
  padding-left : 5px;
}

.content{
  padding-left : 20px
}

p {
  font-size : 10px;
}
